@import 'tailwindcss';
@import 'flowbite/src/themes/default';

@plugin 'flowbite/plugin';
@plugin 'flowbite-typography';

@source '../../vendor/laravel/framework/src/Illuminate/Pagination/resources/views/*.blade.php';
@source '../../storage/framework/views/*.php';
@source '../**/*.blade.php';
@source '../**/*.js';
@source '../../node_modules/flowbite';


@theme {
    --font-sans: 'Instrument Sans', ui-sans-serif, system-ui, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji',
        'Segoe UI Symbol', 'Noto Color Emoji';
}

@theme {
    --color-primary-50:  oklch(98.2% 0.018 155.826);
    --color-primary-100: oklch(96.2% 0.044 156.743);
    --color-primary-200: oklch(92.5% 0.084 155.995);
    --color-primary-300: oklch(92.5% 0.084 155.995);
    --color-primary-400: oklch(79.2% 0.209 151.711);
    --color-primary-500: oklch(79.2% 0.209 151.711);
    --color-primary-600: oklch(72.3% 0.219 149.579);
    --color-primary-700: oklch(52.7% 0.154 150.069);
    --color-primary-800: oklch(52.7% 0.154 150.069);
    --color-primary-900: oklch(44.8% 0.119 151.328);
    --color-primary-950: oklch(26.6% 0.065 152.934);

    --font-sans: 'Inter', 'ui-sans-serif', 'system-ui', '-apple-system', 'system-ui', 'Segoe UI', 'Roboto', 'Helvetica Neue', 'Arial', 'Noto Sans', 'sans-serif', 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol', 'Noto Color Emoji';
    --font-body: 'Inter', 'ui-sans-serif', 'system-ui', '-apple-system', 'system-ui', 'Segoe UI', 'Roboto', 'Helvetica Neue', 'Arial', 'Noto Sans', 'sans-serif', 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol', 'Noto Color Emoji';
    --font-mono: 'ui-monospace', 'SFMono-Regular', 'Menlo', 'Monaco', 'Consolas', 'Liberation Mono', 'Courier New', 'monospace';
}

/* Latin Fonts */

.font-inter {
    font-family: 'Inter', sans-serif;
}
.font-lato {
    font-family: 'Lato', sans-serif;
}
.font-oswald {
    font-family: 'Oswald', sans-serif;
}
.font-raleway {
    font-family: 'Raleway', sans-serif;
}
.font-open-sans {
    font-family: 'Open Sans', sans-serif;
}
.font-roboto-mono {
    font-family: 'Roboto Mono', sans-serif;
}

/* Arabic Fonts */
.font-noto-kufi-arabic {
    font-family: 'Noto Kufi Arabic', sans-serif;
}
.font-cairo {
    font-family: 'Cairo', sans-serif;
}
.font-el-messiri {
    font-family: 'El Messiri', sans-serif;
}
.font-reem-kufi {
    font-family: 'Reem Kufi', sans-serif;
}
